[importlinter]
root_package = terrapyne
include_external_packages = True

[importlinter:contract:layers]
name = Internal Architecture Layers
type = layers
layers =
    terrapyne.cli
    terrapyne.api
    terrapyne.rendering
    terrapyne.core
    terrapyne.models

[importlinter:contract:cli-isolation]
name = CLI Isolation
type = forbidden
source_modules =
    terrapyne.api
    terrapyne.rendering
    terrapyne.core
    terrapyne.models
forbidden_modules =
    terrapyne.cli

[importlinter:contract:rendering-layer]
name = Rendering Layer Constraints
type = forbidden
source_modules =
    terrapyne.rendering
forbidden_modules =
    terrapyne.api
    terrapyne.cli
